# ------------------------
# CORE
# ------------------------
streamlit
pandas
numpy
scikit-learn
joblib
tqdm
openpyxl

# ------------------------
# DEEP LEARNING
# ------------------------
tensorflow
keras
keras-tuner

# ------------------------
# NLP
# ------------------------
nltk
transformers

# ------------------------
# EXPLAINABILITY
# ------------------------
shap
lime
opencv-python

# ------------------------
# VISUALIZATION
# ------------------------
matplotlib
seaborn
plotly
Pillow

# ------------------------
# PDF REPORTS
# ------------------------
fpdf

# ------------------------
# UTILITIES
# ------------------------
psutil
